h2{
    color: blue;
    text-align: center;
}
h3{
    text-align: center;
    color: darkgrey; 
    
}
ol{
    text-align: center;
}
ol li{
    text-align: center;
    display: inline-block;
    margin: 0 20px;
}